.news-article {
    margin-bottom: 40px;
    &:last-child{
        margin-bottom: 0;
    }
    .news-media {
        border: 1px solid #666;
        height: 500px;
        background-color: #fefefe;
        background-size: cover;
        background-position: center center;
    }
    .news-title {
        h2 {
            font-family: 'Poiret One', cursive;
        }
    }
    .news-link {
        color: blue;
    }
}